
<div class="work_experience">
    <h2>Work experience</h2><br>
    <div style="display: flex; align-items: center; height: 140px;">
        <a href="https://www.eigenai.com/" style="flex-shrink: 0; width: 120px; text-align: center;">
            <img src="/assets/img/eigenai_logo.png" style="max-height: 100px; max-width: 100px;">
        </a>
        <div style="margin-left: 10px;">
            <a>Eigen AI</a> - Research Intern<br>
            Dec. 2025 - Feb. 2026 <br>
            <i>NVFP4 quantization and serving for large language models</i><br>
        </div>
    </div>
    <div style="display: flex; align-items: center; height: 140px;">
        <a href="https://rivian.com/" style="flex-shrink: 0; width: 120px; text-align: center;">
            <img src="/assets/img/rivian_logo.png" style="max-height: 100px; max-width: 100px;">
        </a>
        <div style="margin-left: 10px;">
            <a>Rivian</a> - Software Engineering Intern (Deep Learning)<br>
            May 2023 - Aug. 2023 <br>
            <i>Neural architecture search for object detection</i><br>
        </div>
    </div>
    <div style="display: flex; align-items: center; height: 140px;">
        <a href="https://www.amazon.jobs/en/job_categories/research-science" style="flex-shrink: 0; width: 120px; text-align: center;">
            <img src="/assets/img/amazon_logo.png" style="max-height: 100px; max-width: 100px;">
        </a>
        <div style="margin-left: 10px;">
            <a>Amazon</a> - Research Scientist Intern<br>
            May 2022 - Nov. 2022 <br>
            <i>Image synthesis and generation for shoe virtual try-on</i><br>
        </div>
    </div>
    <div style="display: flex; align-items: center; height: 140px;">
        <a href="https://www.xyzrobotics.com/" style="flex-shrink: 0; width: 120px; text-align: center;">
            <img src="/assets/img/xyz_robotics.png" style="max-height: 100px; max-width: 100px;">
        </a>
        <div style="margin-left: 10px;">
            <a>XYZ Robotics</a> - Deep Learning Engineer<br>
            Jun. 2019 - May 2021 <br>
            <i>Image segmentation and object detection for logistics robots</i><br>
        </div>
    </div>
</div>
